<div class="divBg">
  <div class="container">
    <section id="tests">
      <h3 class="section-title text-center text-white">Select Your Desired Test</h3>
      <div class="jumbotron">
          <div class="card inner mx-auto">
            <div class="card-body">
              <div class="row">
                <div class="col-md-10">
                  <h3 class="card-title">Hba1c</h3>
                  <p class="card-subtitle">Also known as Glycosylated haemoglobin Blood</p>
                </div>
                <div class="col-md-2 text-center">
                  <p class="text-primary mb-1" >Rs. 300</p>
                  <a role="button" routerLink="/booktest" class="btn btn-sm btn-info mb-0 ml-0">Book</a>
                </div>
              </div>
            </div>
          </div>
          <div class="card inner mx-auto">
            <div class="card-body">
              <div class="row">
                <div class="col-md-10">
                  <h3 class="card-title">Hba1c</h3>
                  <p class="card-subtitle">Also known as Glycosylated haemoglobin Blood</p>
                </div>
                <div class="col-md-2 text-center">
                  <p class="text-primary mb-1">Rs. 300</p>
                  <a role="button" routerLink="/booktest" class="btn btn-sm btn-info mb-0 ml-0">Book</a>
                </div>
              </div>
            </div>
          </div>
          <div class="card inner mx-auto">
            <div class="card-body">
              <div class="row">
                <div class="col-md-10">
                  <h3 class="card-title">Hba1c</h3>
                  <p class="card-subtitle">Also known as Glycosylated haemoglobin Blood</p>
                </div>
                <div class="col-md-2 text-center">
                  <p class="text-primary mb-1">Rs. 300</p>
                  <a role="button" routerLink="/booktest" class="btn btn-sm btn-info mb-0 ml-0">Book</a>
                </div>
              </div>
            </div>
          </div>
          <div class="card inner mx-auto">
            <div class="card-body">
              <div class="row">
                <div class="col-md-10">
                  <h3 class="card-title">Hba1c</h3>
                  <p class="card-subtitle">Also known as Glycosylated haemoglobin Blood</p>
                </div>
                <div class="col-md-2 text-center">
                  <p class="text-primary mb-1">Rs. 300</p>
                  <a role="button" routerLink="/booktest" class="btn btn-sm btn-info mb-0 ml-0">Book</a>
                </div>
              </div>
            </div>
          </div>
      </div>
    </section>
  </div>
</div>