<div class="divBg">
  <div class="container card mx-auto">
    <div class="card-body">
      <!-- Default form login -->
      <div class="text-center border border-light p-5">

        <h2>User Login</h2>
        <button class="btn btn-outline-danger btn-lg" (click)="googleLogin()">Login Using Google</button>
        <button class="btn btn-outline-blue btn-lg" (click)="facebookLogin()">Login Using Facebook</button>
        
        <p class="lead mt-4">
          - OR -
        </p>
        <p>
          <a routerLink="/adminlogin">Admin Login</a>
        </p>
      </div>
      <!-- Default form login -->
    </div>
  </div>
</div>