<div class="wrapper">
  <div class="card">
    <div class="card-header text-center">
      Notifications<br>
      <small>(Upcoming Appointments)</small>
    </div>
    <div class="card-body">
      <div class="card inner0 mx-auto">
        <div class="card-header inner1" style="padding: 0 auto;"><b>Patient Name: </b>Mr. Kuntal Mitra
        <button class="btn btn-sm btn-outline-danger float-right" style="margin-top: -5px;">Cancel</button>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-3">
              <div class="card">
                <div class="card-body mx-auto"><small><b>Age: </b>22</small></div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="card">
                <div class="card-body mx-auto"><small><b>Gender: </b>Male</small></div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="card">
                <div class="card-body mx-auto"><small><b>Ph. No.: </b>9163628643</small></div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="card">
                <div class="card-body mx-auto"><small><b>Time Slot: </b>3:00 P.M.</small></div>
              </div>
            </div>
          </div>
          <!-- <div class="row mt-2 mb-0">
            <div class="col-md-12">
              <div class="card mx-auto" style="width: 30rem;">
                <div class="card-header text-center"><small>Symptoms</small></div>
                <div class="card-body mx-auto">
                  
                </div>
              </div>
            </div>
          </div> -->
        </div>
        
      </div>
    </div>
  </div>
</div>